DATABASE_URL="postgresql://postgres.vfjyxlggrwqwavokuqfe:jCml0NLJNkJ4wk8G@aws-1-us-east-1.pooler.supabase.com:6543/postgres"


# 2. Supabase Auth (Para supabase.js)
SUPABASE_URL="https://vfjyxlggrwqwavokuqfe.supabase.co"
SUPABASE_KEY="sb_publishable_eAUD0WuaBMcwFHms4iYU9g_TNZ394-f"
